.btn {
  cursor: pointer;
  padding: 1rem 2.5rem;
  border-radius: 1.625rem;
  border: 0.125rem solid #fff;
  background: unset;
  font-size: 0.9375rem;
  font-weight: 700;
  color: var(--color-primary);
  margin-top: 1.9rem;
  transition: 0.5s all ease;
}

.btn:hover,
.btn:active,
btn:focus,
.btn--institutional,
.btn--contact {
  border-color: var(--color-primary);
  background-color: var(--color-primary);
  color: #fff;
}

.btn--institutional:hover,
.btn--contact:hover {
  color: var(--color-copy);
  background: unset;
  box-shadow: 0 1rem 1rem #0006;
}

.btn--contact:hover {
  color: #fff;
}

.btn--quote {
  color: #000;
  border-color: #000;
  text-transform: uppercase;
  margin-top: 0;
}
